[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendor/SDL3_image"]
	path = vendor/SDL3_image
	url = https://github.com/libsdl-org/SDL_image.git
