* {
   margin: 0;
   padding: 0; 
}

.w-grid-container {
    height: 100vh;
    display: grid;
    column-gap: 10px;
    row-gap: 5px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
}

.w-grid-item {
    width: 100%;
    height: 100%;
    border: 2px solid pink;
}